/*===============Propiedades SHOP================*/
body {
  margin: 0px;
  background-color: aliceblue;
  font-family: 'Nerko One', cursive;
}

button {
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
}

.page-nav {
  background-color: #2196F3;
  border: 1px solid black;
  position: relative;
}

.page-nav h1 {
  margin: 20px;
}

.button-checkout {
  background-color: white;
  color: black;
  border: 2px solid #008CBA; /* Blue */
  transition-duration: 0.4s;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.button-checkout:hover {
  background-color: #008CBA; /* Blue */
  color: white;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-container {
  margin: 15px;
  padding: 2px 16px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  background-color: white;
}

.product-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img {
  width: 300px;
}

.product-container h1 {
  margin-bottom: 10px;
  margin-left: 15px;
}

.button-add {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.4s;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.button-add:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/*===============Propiedades Globales================*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }
  
/*===============Secciones Globales================*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Montserrat", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ffde9e;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #151515;
  }
/*===================MENU==========================*/
#menu a, button {
  font-size: 18px !important;
  font-weight: 600; }

#menu a {
  color: #3f3f3f; }

/*===================SLIDER DE IMAGENES==========================*/
.carousel-inner {
  max-height: 39rem !important; }

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/
#img-equipo {
  max-height: 30rem !important;
  width: 50%; }

/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
  margin-top: 50px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  padding-bottom: 300px; }

.mapa {
  background: url(../img/mapa.png);
  width: 100%;
  height: 500px; }

.wrapper-local {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px; }

/*===========================SECCION EQUIPO ==================================*/
#numeros-local {
  margin: 0 !important;
  padding: 0 !important; }

#numeros-local div {
  padding: 0 20px 0 0;
  text-align: left;
  height: 48px; }

#numeros-local div:not(:last-child) {
  border-right: 2px solid #3f3f3f; }

#numeros-local div:not(:first-child) {
  padding-left: 20px; }

#numeros-local p {
  margin: 0; }

  .team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #151515;
  margin: 0 3px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #484848;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .member .social a:hover {
  color: #151515;
  background: #ffc107;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #151515;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #151515;
  margin: 0 3px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #484848;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .member .social a:hover {
  color: #151515;
  background: #ffc451;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #151515;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*=========================CONTACTOS BACKGROUND================================*/
#bg-contactos {
  position: relative;
  top: -130px; }

#seccion-contacto {
  background-color: #1b2a4e;
  min-height: 500px;
  position: relative; }

/*=========================CONTACTOS FORMULARIO================================*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  background: #ffc451;
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
          animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ffc451;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ffcd6b;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*=========================FOOTER================================*/
footer {
  background: #000000;
  min-height: 100px; }

footer p {
  color: #ffc451;
  text-align: center; }

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #ffc451; }

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/
@media (max-width: 1200px) {
  #intro, #equipo {
    width: 90% !important;
    margin: auto; }

  #local {
    flex-wrap: wrap;
    padding-top: 30px; }

  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px; } }
/*=========================MEDIA QUERIES PANTALLA SM================================*/
@media (max-width: 768px) {
  #intro, #equipo {
    width: 90% !important;
    margin: auto; }

  #img-equipo {
    max-height: 20rem !important;
    width: 90%; }

  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px; }

  #local {
    flex-wrap: wrap; }

  .mapa img {
    width: 100%;
    height: auto; }

  #bg-contactos {
    top: -120px; } }
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/
@media (max-width: 576px) {
  #servicios-fila-2 {
    width: 100% !important; }

  #servicios-fila-1 {
    width: 100% !important; }

  .icono-wrap {
    flex-wrap: wrap !important;
    justify-content: center !important;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
